
*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #444;
    color: white;
}
.menu ul li{
    background-color: #ffd000;
    color: #444;
    float: left;
    width: 20%;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    position: relative;
}
.menu ul li:hover{
    background-color: #444;
    color: #ffd000;
}
.menu ul{
    padding: 0px;
}
.menu ul ul{
    display: none;
    
}
.menu ul li:hover >ul {
    display: flex;
    flex-direction: column;
    width: 500%;
}
.menu ul ul ul{
    margin-left: 100%;
    top: 0px;
    position: absolute;
}
.menu ul ul li:hover{
    background-color: #444;
    color: #ffd000;
}
.menu ul ul ul li:hover{
    background-color: #444;
    color: #ffd000;
}
.menu a{
    color: white;
    text-decoration: none;
}
#rp{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
textarea{resize:none;}


